<html>
  <head>
{% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Snowballing</title>
    <link href="{% static 'snowballing/css/styling.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
  {% include 'snowballing/nav_bar.html' with user=user sbsid=sb_session_last.id %}
    <div id="main">
      <div id="graph">

        <h1> Snowballing Helper</h1>
        <br/>

        <h2> Snowballing session manager </h2>
        <br/>

        <h3> SB session information </h3>
        <br/>

        <table class="light">
          <tr>
            <td>ID</td>
            <td>{{ sbs.id }}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{ sbs.name }}</td>
          </tr>
          <tr>
            <td>Initial Pearls</td>
            <td>{{ sbs.initial_pearls }}</td>
          </tr>
          <tr>
            <td>Date</td>
            <td>{{ sbs.date }}</td>
          </tr>
          <tr>
            <td># Steps</td>
            <td>{{ sbs.step_count }}</td>
          </tr>
          <tr>
            <td># Selected Documents</td>
            <td></td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{% if sbs.completed  %} Completed {% else %} In progress {% endif %}</td>
          </tr>
        </table>

        <br/><hr/><br/>

        <h3> Steps information:</h3>
        <br/>



      </div>
    </div>
  </body>
</html>
